@font-face{
    font-family: letras_especiales;
    src: url(../fuentes/Just_Another_Hand\,Lobster\,Modak\,Ribeye_Marrow/Lobster/Lobster-Regular.ttf) format('truetype');
}
header{
    background-color: #082646;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 150px;

}
header img{
    display: flex;
    justify-content: flex-start;
    width: 100px;
    height: 100px;
}
html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
nav ul{
    margin-top: 1px;
    background-color: #082646;
    list-style-type: none;
    height: 80px;
    display: flex;
    justify-content: flex-start;
}
nav ul li{
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    background-color: #082646;
    padding: 10px 10px;
    box-shadow: 0px 0px 10px white;
    border-radius: 20px;
    height: 35px;
    font-family: letras_especiales;
}
nav ul li :hover{
    box-shadow: 0px 0px 20px rgb(211, 211, 3);
}
main{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.principal{
    display: flex;
}
section{
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section div p{
    display: flex;
    font-size: 20px;
}
.textocantera{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.alfonso{
    height: 200px;
    width: 230px;
    margin-right: 30px;
}
.cantera{
    height: 300px;
    width: 700px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
}
div h3{
    font-size: 35px;
    font-weight: 1px;
}
.clasificacion{
    font-size: 50px;
}
.clasi{
    height: 700px;
    width: 750px;
    box-shadow: 0px 0 30px #082646;
}
.racing{
    height: 300px;
    width: 300px;
}

footer {
    background-color: #082646;
    color: white;
    height: 100px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    padding: 15px 15px;
}
div img{
    width: 50px;
    height: 50px;
}
.icon:hover{
    width: 60px;
    height: 60px;
}