@font-face{
    font-family: letras_especiales;
    src: url(../fuentes/Just_Another_Hand\,Lobster\,Modak\,Ribeye_Marrow/Lobster/Lobster-Regular.ttf) format('truetype');
}
header{
    background-color: darkblue;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 150px;

}
header img{
    display: flex;
    justify-content: flex-start;
    width: 100px;
    height: 100px;
}
html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
nav ul{
    margin-top: 1px;
    background-color: blue;
    list-style-type: none;
    height: 80px;
    display: flex;
    justify-content: flex-start;
}
nav ul li{
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    background-color: darkblue;
    padding: 10px 10px;
    box-shadow: 0px 0px 10px white;
    border-radius: 20px;
    height: 35px;
    font-family: letras_especiales;
}

nav ul li :hover{
    box-shadow: 0px 0px 20px rgb(211, 211, 3);
}
main{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 187px;
}
.resultado{
    width: 400px;
    height: 320px;
    padding-top: 10px;
}
.levante{
    width: 400px;
    height: 320px;
    padding-top: 10px;
}
.mini{
    width: 150px;
    height: 100%;
    padding-right: 10px;

}
.aaron{
    width: 150px;
    height: 100px;
    padding-right: 10px;
}
.entreno{
    width: 150px;
    height: 100px;
    padding-right: 10px;
}

section{
    margin-top: 100px;
    box-shadow: 0px 0px 20px grey;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 420px;
    height: 500px;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

section div{
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px 10px;

}
.noticias{
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

footer {
    background-color: darkblue;
    color: white;
    height: 100px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: auto;
}
div img{
    width: 50px;
    height: 50px;
}
