@font-face{
    font-family: letras_especiales;
    src: url(../fuentes/Just_Another_Hand\,Lobster\,Modak\,Ribeye_Marrow/Lobster/Lobster-Regular.ttf) format('truetype');
}
html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
header img{
    text-align: center;
    padding: 0;
    height: 100vh;
    position: relative;
    width: 100%;
    margin-bottom: 0px;
    background-attachment: fixed;
}
nav ul{
    background-color: #082646;
    list-style-type: none;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    margin-top: 1px;
}
nav ul li{
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    font-size: 25px;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px rgb(0, 210, 247);
    border-radius: 20px;
    height: 35px;
    font-family: letras_especiales;
}
nav ul li :hover{
    box-shadow: 0px 0px 20px rgb(211, 211, 3);
    height: 40px;
}

main{
    display:  flex;
    flex-direction: column;
}
h2{
    font-size: 45px;
    margin-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-style:inherit;
    line-height: 30px;
    font-weight: 400;
    margin: 0 50px;

}
.partidazo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-style:inherit;
    line-height: 30px;
    font-weight: 400;
}
.fotos{
    display: flex;
    justify-content: space-around;
    height: 400px;
    width: 100%;
    margin-bottom: 30px;
}
.escudos{
    width: 400px;
    height: 400px;
    margin-right: 10px;
}
.part{
    width: 700px;
    height: 400px;
    margin-right: 10px;
}
.levante{
    margin: 20px;
    height: 400px;
    width: 700px;
}

footer {
    background-color: #082646;
    color: white;
    height: 100px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    padding: 15px 15px;
    margin-top: 20px;
}
div img{
    width: 50px;
    height: 50px;
}
.icon:hover{
    width: 60px;
    height: 60px;
}